@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin-bottom: 5px;
    /* 원하는 간격 크기로 조절 */
}

p {
    padding-bottom: 3px;
    /* 원하는 간격 크기로 조절 */
}

p {
    line-height: 1.4;
    /* 원하는 줄 간격 크기로 조절 */
}